@using CaisseEnregistreuse.Models.ViewModels
@model SaleVM

@{
    ViewData["Title"] = "Ajouter une vente";
}

<div class="col-md-10 offset-1">
    <form asp-action="Create">
        <div asp-validation-summary=ModelOnly></div>
        <div class="form-group">
            <label asp-for="ClientId" class="form-label"></label>
            <select asp-for="ClientId" class="form-select" asp-items="@ViewBag.Clients" ></select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductIds" class="form-label"></label>
            <select multiple asp-for="ProductIds" class="form-select" asp-items="@ViewBag.Products"></select>
            <span asp-validation-for="ProductIds" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"></i> Ajouter</button>
    </form>
</div>