@model CreateNewItemVM

<div class="text-white" style="position: fixed; bottom: 75px; right: 25px">
    <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" class="btn btn-success"><i class="bi bi-plus-circle"></i> @(Model.IsMale ? "Nouveau" : "Nouvelle") @Model.ItemName</a>
</div>