<div class="row">
    <div class="col-md-8 offset-2 text-center">
        <div class="col-md-6 offset-3">
            <img src="https://i.pinimg.com/originals/ce/84/e9/ce84e9e659570febb99e231321bfca17.jpg" class="img-thumbnail" alt="Error" />
        </div>
        <h2 class="text-danger">Aucun contenu à cette adresse !</h2>
        <a asp-controller="Contacts" asp-action="Index" class="btn btn-outline-success">Retour aux Contacts</a>
    </div>
</div>