@model Person
@{
    ViewData["Title"] = "Ajouter une personne";
}

<div class="row">
    <div class="col-md-10 offset-1">
        <h3>Ajouter une personne</h3>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-2">
                <label asp-for="Firstname"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>

                <div class="mb-2">
                <label asp-for="Lastname"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="AdressId"></label>
                <select asp-for="AdressId" class="form-select" asp-items="@ViewBag.Adresses">
                    <option value="0">Aucune Adresse</option>
                </select>
                <span asp-validation-for="AdressId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>
</div>
